@import "../../../_style/fn";

@prefix-cls: ~"@{prefix}-popover";

.@{prefix-cls} {
  display: inline-block;

  &-rel {
    position: relative;
    display: inline-block;
  }
  &-inner {
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
  }
  &-arrow {

  }
}
