@import "../../../_style/fn";
@import "../../../_style/animation/rotate";
@import "./mixin";

@prefix-cls: ~"@{prefix}-btn";

.@{prefix-cls} {
  .btn;
  .btn-default;

  & > .@{prefix}-icon + span, & > span + .@{prefix}-icon{
    margin-left: @h-spacing-m;
  }

  &-primary {
    .btn-primary;
  }
  &-info {
    .btn-info;
  }
  &-success {
    .btn-success;
  }
  &-warning {
    .btn-warning;
  }
  &-error {
    .btn-error;
  }

  &-inline {
    .btn-inline;
  }

  &-loading {
    .@{prefix}-icon-load-c {
      animation: load-loop 1s linear infinite;
    }
  }
}

